<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Details</title>
    <style>
        img {
            width: 100%;
        }
    </style>
</head>

<body>
    <table class="">
        <tbody>
            <tr>
                <td colspan="6">
                    <img src="{{ url('public/images/engine_landscape_1724243315.jpg') }}" alt="" class="">
                </td>
                <td colspan="6">
                    <table class="table">
                        <tr>
                            <td>
                                <p>Sivasagar</p>
                                <label for="">RTO</label>
                            </td>
                            <td>
                                <p>AS04BC831</p>
                                <label for="">Reg. No</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Manufacturing Yea
                                </p>
                                <label for="">Manufacturing Year</label>
                            </td>
                            <td>
                                <p>Registration Date</p>
                                <label for="">Registration Date</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    1
                                </p>
                                <label for="">No of Owners</label>
                            </td>
                            <td>
                                <p>42000</p>
                                <label for="">Odometer Reading </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Fuel Type</p>
                                <label for="">Fuel Type</label>
                            </td>
                            <td>
                                <p>Manual</p>
                                <label for="">Transmission</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>White</p>
                                <label for="">Color</label>
                            </td>
                            <td>
                                <p>Pickup</p>
                                <label for="">Vehicle Type</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p>15598</p>
                    <label for="">Engine Number (last Five)</label>
                </td>
                <td colspan="4">
                    <p>11096</p>
                    <label for="">Chassis Number (Last Five)</label>
                </td>
                <td colspan="4">
                    <p>Customer Name</p>
                    <label for="">Customer Name</label>
                </td>
                <td colspan="4">
                    <p>Yes</p>
                    <label for="">Original RC Availabl</label>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p>2024-08-20</p>
                    <label for="">Fitness Expire Date</label>
                </td>
                <td colspan="4">
                    <p>2024-08-20</p>
                    <label for="">Tax Expire Date</label>
                </td>
                <td colspan="4">
                    <p>2024-08-20</p>
                    <label for="">Insurance Expire Date</label>
                </td>
                <td colspan="4">
                    <p>2024-08-20</p>
                    <label for="">Permit Expire Date</label>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p>Nitin Singh</p>
                    <label for="">Executive Name</label>
                </td>
                <td colspan="4">
                    <p>prakash chobey, Tinsukia, 786171, Indi</p>
                    <label for="">Location</label>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>
